[submodule "RitualGrimoire-Stellar-Shield"]
	path = RitualGrimoire-Stellar-Shield
	url = https://github.com/CraftingBuilds/RitualGrimoire-Stellar-Shield
[submodule "Lightcraft"]
	path = Lightcraft
	url = https://github.com/CraftingBuilds/Lightcraft.git
